body {
    
    padding: 0;
    margin: 0 auto;

    
    font-family: "PT Sans Narrow",
    Arial,
    Helvetica,
    sans-serif,
    Segoe WP,
    Segoe WP Light,
    Asap Regular;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    background-color: gray;

}

.main-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.wrapper {
   
    height: 560px;
    background-color: #503c26;
    background-image: url(assets/Layer\ 20.png), url(assets/layer1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
    overflow: hidden;
}


.main-header {
    
    

}

.main-navigation {
    display: flex;

    justify-content: space-between;
    

}

.site-navigation {

    display: flex;
    
    font-size: 17px;
    color: #9b7d08;
    background-color: #f5c506; 
    box-shadow: -4px -5px rgba(245, 197, 6, 0.4), -8px -8px rgba(245, 197, 6, 0.4);
     
    width: 453px;
    height: 41px;
    margin: 0;
    margin-top: 70px;
    padding: 0;
    
    
}



.site-navigation li {
    display: flex;
    justify-content: center;
    
    padding-left: 15px;
    max-height: 40px;
    align-content: center;
    
    align-items: center;
    list-style: none;
    border-right: 0.5px solid #dcb105;
    text-decoration: none;
}

.site-navigation li:last-child {
    border: none;

}


.site-navigation a {
    padding-left: 8px;
    color: #9b7d08;
    font-size: 17px;
    font-family: "Segoe WP";
    text-align: center;
    
    display: inline-block;
   

    text-decoration: none;
}
.icon1 {
   width: 172px;
  
}

.icon2 {
    width: 132px;
   
}

.icon3 {
    width: 147px;
   
}


.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #e6cc64;
}



.header-logo {
    margin-top: 10px;
    font-size: 41px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
   
    text-decoration: none;
    display: flex;
    align-items: center;

   
}

.header-logo p {
    margin-left: 5px;
    margin-top: 50px;
    
}

.header-logo::before {
    content: "";

    
    display: block;
    width: 85px;
    height: 85px;
    background: url(assets/logo1.png) no-repeat, center url(assets/logo2.png) no-repeat;
}

.slider {
    display: flex;
}

.slider video {
    margin-top: 40px;
    margin-left: 10px;
    
}

.slider-text {
   
    font-size: 63px;
    font-weight: 200;
    
    font-family: "Asap";
    text-align: center;
    
    border: 1px solid red;
    
    margin-top: 143px;
}

.slider-text p {
    margin-top: 0;
}

.yellow {
    color: #f5c506;
}

.shadow {
  
}

.features {
    
    height: 214px;
    background-color: #f7f7f7;
}




.features-list {
    width: 1024px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    margin-top:68px;
    font-size: 17px;
    text-transform: uppercase;
    
    color: #000000;
    font-family: "Segoe UI";
    
    
}

.features-logo {
    min-width: 340px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 36px;
    padding-bottom: 38px;

    border-right: 1px solid #d0cfcf;
    border-left: 1px solid #d0cfcf;
    
}

.features-logo h3 {
    padding-top: 18px;
    margin: 0;

}

.section1 {
    position: relative;
    min-height: 507px;
    margin-top: 0;
    border: 1px solid red;
    background: url(assets/Layer\ 10\ copy\ 3.png) repeat 0 0;
}

.section1 h2 {
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.scroll1 {
    margin-top: 40px;

    display: flex;
    
}

.player {
    width: 315px;
    height: 233px;
    background-image: url(assets/poster.png);
    background-size: cover;
}

.data-text {
    width: 112px;
    height: 86px;
    text-align: center;
    position: absolute;
    bottom: 93px;

    background-color: #ddb101;

    

}

.day {
    display: block;
    padding-top: 12px;

    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
}

.month {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI";

}

.text-section {
    position: relative;
    background-color: #ec9e03;
    width: 341px;
    height: 233px;
  }
  
  .text-section article {
    position: absolute;
    top: 17px;
    left: 30px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP light", Arial, sans-serif;
    font-weight: 300;
  }
  
  .text-section img {
    position: absolute;
    right: 14px;
    bottom: 12px;
    cursor: pointer;
  }
  
  .text-section img:hover,
  .twitter img:hover {
    transform: scale(1.5);
  }

  .twitter {
      position: relative;
      width: 330px;
      height: 233px;
      background-color: #ec9e03;
      background-image: url(assets/twitter1.svg);
      background-repeat: no-repeat ;
      background-position: center;

      margin-left: 35px;

  }

  .twitter img {
    position: absolute;
    right: 14px;
    bottom: 12px;
    cursor: pointer;
    
  }

  .twitter span {
      position: absolute;
      right: 14px;
      top: 12px;

      font-size: 25px;
  }
 #slider-1 {
     margin-left: 72ox;
     margin-top: 145px;

     -webkit-appearance: none;
     border-radius:7px;
     width:896px;
     height:15px;
     background-color: #fae58f;
     outline: none;
    
     
 }

 #slider-1::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor:pointer;
 }